@font-face {
    font-family: 'Smooch Sans';
    src: url('~assets/fonts/collections/SmoochSans-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Hubballi';
    src: url('~assets/fonts/collections/Hubballi-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'IBM Plex';
    src: url('~assets/fonts/collections/IBMPlexSansKR-ExtraLight.ttf') format('opentype');
}