@keyframes opacity-transition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flying-text {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.flying-text {
    animation: flying-text 0.5s ease-in-out;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}