* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

html {
    overflow-x: scroll !important;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    background: white;
}

font {
  font-family: 'Gangwon','Hubballi';
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// flex
.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lf-spinner {
  display: none !important;
}

.richtext-fullwidth {
  width: 40%;
}

.d-block.text-center {
  text-align: center;
}

.d-block.text-right {
  text-align: end;
}
